@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300;1,500&display=swap');

body {
 margin: 0;
 padding: 0;
}

header {
 display: flex;
 align-items: center;
 justify-content: flex-end;
 flex-direction: row;
 background: #f0a6ca;
 color: #f0e6ef;
 margin: 0;
 padding: 10;
}

/*menu bar*/
ul {
 display: flex;
 align-items: center;
 justify-content: flex-end;
 flex-direction: row;
 font-family: 'Baloo Da 2', cursive;
}

li {
 display: block;
 margin-left: 30px;
 margin-right: 30px;
}

li:hover {
 font-size: x-large;
}

.link {
 display: block;
}

a {
 text-decoration: none;
 color: #f0e6ef;
}

.hamburger {
 display: none;
 margin-right: 20px;;
}

.title {
 text-align: center;
}

.responsive {
 width: 100%;
 height: auto;
 max-width: 1000px;
 max-height: 600px;
 margin-top: 10px;
}

#name {
 margin: 0 auto;
 font-size: 35px;
 font-family: 'Roboto Mono', monospace;
 font-weight: 600;
}

#introduction{
 margin: 0 auto;
 font-size: 20px;
 font-family: 'Roboto Mono', monospace;
 font-weight: 300;
}

.bar {
 background: #b8bedd;
 text-align: center;
 padding-top: 15px;    
 color: #f0e6ef;
 height: 50px;
 font-family: "Lucida Console", Courier, monospace;
 font-style: italix;
 font-size: 30px;
}

#aboutme {
 text-align: center;
 font-size: 20px;
 font-family: 'Roboto Mono', monospace;
 font-weight: 300;
 padding-bottom: 50px;
}

.fa-codepen {
 display: flex;
 justify-content: center;
 color: black;
 text-align: center;
}

.fa-codepen:hover {
 font-size: xxx-large;
}

/*grid*/
#projectpreview {
 display: block;
 display: flex;
 flex-wrap: wrap;
 flex-direction: row; 
 justify-content: space-around;
 padding-bottom: 70px;
}

.preview {
 display: grid;
 grid-template-columns: 1fr; 
}

.nameofproject {
 display: grid;
 height: auto;
 width: auto;
 text-align: center;
}

.imageofproject {
 height: 300px;
 width: 300px;
}

.description {
 width: 300px;
 font-family: 'Roboto Mono', monospace;
 font-weight: 300;
}


/*carousel*/
.slider {
 display: none;
 width: 350px;
 text-align: center;
 overflow: hidden;
}
  
.slides {
 display: flex;
 justify-items: center;
 overflow-x: auto;
 scroll-snap-type: x mandatory;
 scroll-behavior: smooth;
 -webkit-overflow-scrolling: touch;
}

.slides > div {
 margin-left: auto;
}

.slides::-webkit-scrollbar {
 width: 10px;
 height: 10px;
}

.slides::-webkit-scrollbar-thumb {
 background: black;
 border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
 background: transparent;
}
   
.slider > a {
 display: inline-flex;
 width: 1.5rem;
 height: 1.5rem;
 background: black;
 color: white;
 text-decoration: none;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 margin: 0 0 0.5rem 0;
 position: relative;
}

.slider > a:active {
 top: 1px;
}

.slider > a:focus {
 background: #000;
}
  
@supports (scroll-snap-type) {
 .slider > a {
 display: none;
 }
}


/*Google contact form style*/

::placeholder {
 font-family: 'Roboto Mono', monospace;
 color: darkgrey;
}

#mG61Hd {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 30px;
}

input {
 font-family: 'Roboto Mono', monospace;
 display: flex;
 align-content: center;
 width: 100%;
 max-width: 600px;
 height: 50px;
 background: transparent;
 outline: none;
 border: solid 1px #b8bedd;
 border-bottom: none;
 transition: all 0.3s ease-in-out;
}

input:hover {
 background: #f0e6ef;
 color:#b8bedd;
}

textarea {
 padding-top: 5px;
 font-family: 'Roboto Mono', monospace;
 display: flex;
 align-content: center;
 width: 100%;
 max-width: 600px;
 height: 110px;
 max-height: 110px;
 background: transparent;
 outline: none;
 color: #726659;
 font-family: sans-serif;
 font-size: 0.875em;
 border: solid 1px#b8bedd;
 transition: all 0.3s ease-in-out;
 }
  
textarea:hover {
 background:#f0e6ef;
 color: #e2dedb;
}
 
#submit {
 width: 50px;
 font-family: 'Roboto Mono', monospace;
 font-size: 0.875em;
 text-align: right;
 color: #b3aca7;
 outline:none;
 cursor: pointer;
 border: solid 1px #b8bedd;
 margin: auto;
 margin-top: 10px;
}
  
#submit:hover {
 background: #b8bedd;
}


/*social media icons in footer*/
footer {
 height: 60px;
 display: flex;
 justify-content: center;
 background: #f0e6ef;
}

.fa-envelope {
 color: red;
 margin-right: 20px;
 margin-top: 20px;
}

.fa-linkedin {
 color: #2867B2;
 margin-right: 20px;
 margin-top: 20px;
}

.fa-github {
 color: black;
 margin-top: 20px;
}


/*responsive*/
@media (max-width: 375px) {
 .hamburger {
  display: block;
  }
 
  .link {
   display: none;
   }
 
  nav {
   width: 20%;
   display: block;
  }
    
  .slider {
    display: block;
  }
   
  #projectpreview {
   display: none;
  }

  input {
   width: 300px;
   margin: 0 15 0 15;
  }

  textarea {
   width: 300px;
   margin: 0 15 0 15;
  }
  
  #submit {
   width: 50px;
   margin: auto;
   margin-top: 10px;
 }

}