@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
 /* margin: 0;
 padding: 0; */
 background-image: url("https://res.cloudinary.com/dqduwnrb1/image/upload/v1601339713/background_vqbokv.jpg");
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
}


/*----------------------menu bar----------------------*/
#navbar {
  display: flex;
  justify-content: flex-end;
  color: #CC3363;
  overflow: hidden;
  /* position: fixed; Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

ul {
  display: flex;
  align-items: center;
  font-family: 'Epilogue', sans-serif;
  font-weight: 900;
 }

.link {
  display: block;
  display: flex;
  flex-direction: row;
 }

li {
 display: block;
 margin-left: 30px;
 margin-right: 30px;
}

li:hover {
 font-size: x-large;
}

a {
 text-decoration: none;
 color: #f0e6ef;
}

.hamburger {
 display: none;
 margin-right: 20px;;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  /* padding-top: 60px; */
}


/*----------------------main page----------------------*/
.profile {
  display: none;
}

.main-text {
  text-align: center;
  padding-top: 65%;
  /* padding-left: 30%; */
  /* margin-left: auto; */
  margin-right: auto;
  /* width: 50%; */
  color: white;
  /* max-width: 100%; */
}

.anim-typewriter {
  /* border-right: .15em solid white; */
  font-family: 'Rock Salt', cursive;
  font-size: 200%;
  white-space: nowrap;
  overflow: hidden;
  /* margin-left: auto;
  margin-right: auto; */
}

.anim-typewriter {
  width: 10em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.anim-typewriter {
  width: 10em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.anim-typewriter {
  width: 13em;
  opacity: 0;
  -webkit-animation: type3 3s steps(40, end), blink .5s step-end infinite alternate;
  animation: type3 5s steps(40, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
} */


/*----------------------social media icons in footer----------------------*/
footer {
 height: 60px;
 display: flex;
 justify-content: center;
 background: #f0e6ef;
 bottom: 0;
 position: absolute;
 width: 100%;
}

.fa-envelope {
 color: red;
 margin-right: 20px;
 margin-top: 20px;
}

.fa-linkedin {
 color: #2867B2;
 margin-right: 20px;
 margin-top: 20px;
}

.fa-github {
 color: black;
 margin-top: 20px;
}


/*----------------------responsive----------------------*/
@media (max-width: 375px) {
 .hamburger {
  display: block;
  }
 
  .link {
   display: none;
   }

  li {
    margin-top: 5px;
  }
 
  nav {
   width: 20%;
   display: block;
  }

  .profile {
    display: block;
    width: 50%;
    height: 30%;
    border-radius: 50%;
    padding-left: 20%;
    padding: auto;
  }

  .main-text{
    font-size: 65%;
  }

  .name {
    padding-left: 20%;
    margin-top: 10%;
  }

  .job {
    padding-left: 20%;
  }

}